# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore VSCode settings
.vscode/

# Ignore compiled files
*.pyc
*.pyd
*.pdb

# Ignore environment directories
env/
venv/
ENV/
.venv/

# Ignore distribution files
*.egg-info/
dist/
build/

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
